<!-- <div class="header-image"></div> -->
<div class="success-container">
  <h1 class="thank-you">Thank You</h1>
  <img src="/assets/check.png" alt="Checkmark" class="checkmark" />
  <!-- <div *ngIf="message !== ''" class="success-message">{{ message }}</div> -->
  <div class="qr-grid" #qrCodeContainer>
    <div *ngFor="let qrCode of qrCodes let i=index" class="qr-code">  
      <p>{{shipmentNumbers}}</p>
        <p>{{rcptNumbers[i].rcpNumber}}</p>
      <img [src]="qrCode" alt="QR Code" /><br>
      <button mat-raised-button color="secondary" (click)="printQRCode(qrCode,rcptNumbers[i],shipmentNumbers)">Print</button>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
