/* success.component.css */
.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  background-color: #ff5e003f;
}

.thank-you {
  font-size: 24px;
  margin-top: 20px;
}

.checkmark {
  width: 50px; /* Adjust the size as needed */
  margin-top: 20px;
}

.qr-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between QR codes */
  margin-top: 20px;
}

.qr-code {
  text-align: center;
}

/* Separate print styles */
@media print {
  body {
    margin: 0; /* Remove default page margins */
  }

  .checkmark {
    display: none; /* Hide the checkmark when printing */
  }

  .qr-grid {
    page-break-inside: avoid; /* Avoid page breaks inside the grid */
  }

  .qr-code {
    page-break-after: always; /* Page break after each QR code item */
    text-align: center;
  }
}

.header-image {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 300px;
  height: 80px;
  background-image: url('src\assets\logo-img.png');
  background-size: cover;
  background-position: left;
}
