<div class="table-container"  *ngIf="dataSource">
  
    <mat-card class="card-bg">
      <mat-card-content class="card-content">
        <div class="logo-container">
          <img src="\assets\logo-img.png" alt="Logo" class="logo">
        </div>
        <div class="text-container">
          Review Orders
        </div>
      </mat-card-content>
    </mat-card>
    <div class="loader-overlay" *ngIf="isLoading">
      <div class="loader"></div>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="ShptNmbr">
      <th mat-header-cell  *matHeaderCellDef> Shipment Number </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.shpNmbr }} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Client Name </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.name }} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="RcptNmr">
      <th mat-header-cell *matHeaderCellDef> Receipt Number </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.rcptNmr }} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Qnty">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.qnty }} </td>
    </ng-container>
    
    <ng-container matColumnDef="TotalKg">
      <th mat-header-cell *matHeaderCellDef> Total Weight(kg) </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.totalKg }} </td>
    </ng-container>
    <ng-container matColumnDef="TotalLb">
      <th mat-header-cell *matHeaderCellDef> Total Weight(lb) </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }"> {{ element.totalLb }} </td>
    </ng-container>
     
      <tr mat-header-row class="header-row" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>
    </table>
    <mat-paginator
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex-1"
      (page)="pageChangeEvent($event)"
      [pageSizeOptions]="[5, 10,15, 20,25]"
      showFirstLastButtons>
    </mat-paginator>
    <button class="back-btn" mat-raised-button color="primary" (click)="backToShipment()" type="submit"><mat-icon>arrow_back</mat-icon>Back To Shipment</button>
    </div>


  
  