<div class="service-container">
  <mat-progress-spinner *ngIf="showSpinner" mode="indeterminate"></mat-progress-spinner>
  <div class="header-image">
    </div>
  <form class="form-container" #shipmentForm="ngForm" [@fadeIn]>
      <div class="left-column">
    <mat-form-field>
      <mat-label>Client</mat-label>
      <input matInput type="text" name="client" [(ngModel)]="model.Name" (ngModelChange)="validateField('clientName')" required>
      <div  class="error-message" *ngIf="!validationStatus.clientName ">
       Please Enter Client Name
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Shipment No</mat-label>
      <input matInput type="text" name="shipmentNo" [(ngModel)]="model.ShptNmbr" (ngModelChange)="validateField('shipmentNo')" required>
      <div  class="error-message" *ngIf="!validationStatus.shipmentNo ">
        Please Enter Shipment Number
       </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pieces</mat-label>
      <input matInput type="number" name="pieces" [(ngModel)]="model.Qnty" (ngModelChange)="validateField('pieces')" required>
      <div  class="error-message" *ngIf="!validationStatus.pieces ">
        Please Enter Number of Pieces
       </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dimensions (cm/in)</mat-label>
      <input matInput type="text" name="dimensions" [(ngModel)]="model.Dmnsn" (ngModelChange)="validateField('dimensions')" required>
      <div  class="error-message" *ngIf="!validationStatus.dimensions ">
        Please Enter Dimensions
       </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weight (lb/kg)</mat-label>
      <input matInput type="text" name="weight" [(ngModel)]="model.Wght" (ngModelChange)="validateField('weight')" required>
      <div  class="error-message" *ngIf="!validationStatus.weight ">
        Please Enter Weight
       </div>
    </mat-form-field>
  </div>
  <div class="right-column">
      <mat-form-field>
          <mat-label>Bay Location</mat-label>
          <input matInput type="text" name="bay location" [(ngModel)]="model.Locn" (ngModelChange)="validateField('bayLocation')" required>
          <div  class="error-message" *ngIf="!validationStatus.bayLocation ">
            Please Enter Bay Location
           </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Note</mat-label>
          <input matInput type="text" name="Note" [(ngModel)]="model.Note" (ngModelChange)="validateField('note')" required>
          <div  class="error-message" *ngIf="!validationStatus.note ">
            Please Enter Free fall Note
           </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Image</mat-label>
          <input
            type="file"
            #fileInput
            (change)="onFileChange($event)"
            accept="image/*"
            style="display: none;"
            multiple
          />
          <button mat-icon-button (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input matInput [value]="form.get('file')?.value ? form.get('file')?.value.name : ''" readonly (ngModelChange)="validateField('images')" />  
          <div class="error-message" *ngIf="model.Qnty && model.Qnty > 0 && uploadedImages.length < model.Qnty">
           <div *ngIf="model.Qnty - imagesArray.length !=0">Please add {{ model.Qnty - imagesArray.length }} more image(s).</div>   
            </div>
            <div  class="error-message" *ngIf="!validationStatus.images ">
              Please Select required Number of Images
             </div>

             <div class="progress">

              <mat-progress-bar class="progress-bar" mode="determinate"
                                [value]="uploadProgress" *ngIf="uploadProgress">
            
              </mat-progress-bar>
            
              <mat-icon class="cancel-upload" (click)="cancelUpload()" 
                        *ngIf="uploadProgress">delete_forever</mat-icon>
            
            </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Recipients</mat-label>
          <mat-select name="recipients" [(ngModel)]="model.Rpnt"  (ngModelChange)="validateField('email')" required>
            <mat-option value="Accounting@priorityworldwide.com">Accounting@priorityworldwide.com</mat-option>
            <mat-option value="Operations@priorityworldwide.com">Operations@priorityworldwide.com</mat-option>
            <mat-option value="Exports@priorityworldwide.com">Exports@priorityworldwide.com</mat-option>
            <mat-option value="Imports@priorityworldwide.com">Imports@priorityworldwide.com</mat-option>
            <mat-option value="HR@priorityworldwide.com">HR@priorityworldwide.com</mat-option>

          </mat-select>
          <div class="error-message" *ngIf="!validationStatus.email">
            Please Select Recipients
          </div>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Enter Custom recipients" name="additionalRecipients" [(ngModel)]="model.CstmRpnt">
        </mat-form-field>
    </div>
  </form>
  <div class="center-button">
      <button mat-raised-button color="primary"  type="submit" (click)="onSubmit()">Save<mat-icon>save</mat-icon></button>
  </div>
</div>

