/* Add this CSS to your styles.css or styles.scss file */

/* Apply a top margin to the content to prevent it from being hidden behind the fixed navbar */
body {
  padding-top: 56px; /* Adjust this value based on your navbar height */
}

/* Custom styles for the fixed navbar */
.navbar {
  position: fixed; /* Add this to fix the navbar */
  top: 0; /* Add this to position the navbar at the top */
  width: 100%; /* Add this to make the navbar full-width */
  background-color:cadetblue; /* Change the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 5px;
  height:auto;
}

.navbar-brand {
  font-weight: bold; /* Make the brand text bold */
}

.navbar-toggler {
  border: none; /* Remove the border from the toggle button */
}

.navbar-nav {
  display: flex;
justify-content: start;
align-items: center;
}
.to-right {
margin-right: 500px;
padding-right: 80px;
}

.nav-item {
  margin-right: 15px; /* Add some spacing between the navbar items */
  list-style: none;
  margin-top: -20px;
}

.nav-link {
  color: #333333; /* Change the link color as needed */
  margin-right: 20px;
  text-decoration: none;
font-size:large;
}
.nav-link:hover{
  color:azure;
}

.navbar-toggler-icon {
  background-color: #333333; /* Change the color of the toggle icon */
}



.header-image {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
  background-size: cover;
  background-position: left;
}
.logo {
  background-color: white;
  width: 100px; /* Adjust the width to your preferred size */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 0px; /* Add spacing between the logo and the "Login" text */
  margin-left: 0px;
}