<!-- <h3>App</h3>

<app-reports [record]="title"  (outdata)="getData($event)"></app-reports>

<router-outlet></router-outlet> -->
<div class="dashboard-header">
    <h1 routerLink="/splash"><strong>DASHBOARD</strong></h1>
  </div>

<div class="container">
 
     <nav>
            <ul class="mcd-menu">
                <li>
                    <a   [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0"
                   >
                        <i class="fa fa-home"></i>
                        <strong>Accounting</strong>
                        <small>Accounting Reports</small>
                </a>
                    <ul>
                        <li><a  routerLink="/report"><i class="fa fa-globe"></i>AP Postings By Job Number/Invoice/User<br>and Fully Paid</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-edit"></i>
                        <strong>AdHoc</strong>
                        <small>Adhoc Reports</small>
                    </a>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-gift"></i>
                        <strong>Branch</strong>
                        <small>Branch Reports</small>
                    </a>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-globe"></i>
                        <strong>EDI</strong>
                        <small>EDI Reports</small>
                    </a>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-comments-o"></i>
                        <strong>Operation</strong>
                        <small>Operational Reports</small>
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-globe"></i>Operational Overview</a></li>
                        <li>
                            <a href="#"><i class="fa fa-group"></i>1st AR Invoice Date vs POD Date</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-female"></i>KPI Report Stack Deck</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-male"></i>Missing ETA or ETD</a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-leaf"></i>New Business Trade Lanes</a></li>
                                        <li><a href="#"><i class="fa fa-tasks"></i>PWSBWI Shipment Profile</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-female"></i>FEA/FES Exports</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-trophy"></i>Brokerage And Shipment Mandatory Check</a></li>
                        <li><a href="#"><i class="fa fa-certificate"></i>Shipment Count/Volume</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-picture-o"></i>
                        <strong>Orders</strong>
                        <small>Order Reports</small>
                    </a>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Sales</strong>
                        <small>Sale Reports</small>
                    </a>
                </li>
                <li>
                    <a href="" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-envelope-o"></i>
                        <strong>WMS</strong>
                        <small>WMS Reports</small>
                    </a>
                </li>
                <li >
                    <a routerLink="/receivings" [ngClass]="{'active': isHovered === 1}" (mouseenter)="isHovered = 1" (mouseleave)="isHovered = 0">
                        <i class="fa fa-envelope-o"></i>
                       <strong><mat-icon>arrow_back</mat-icon><sup>GoTo Portal</sup></strong> 
                    </a>
                </li>
              
            </ul>
        </nav> 
    </div>

    <router-outlet></router-outlet>