.table-container {
    display:block;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    color:black;
    padding-left:0%;
  }
  
  table {
    width: 20%;
  }
  
  .mat-table {
    width: 20px;
  }
  
  .mat-row,
  .mat-header-row {
    display: contents;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:blue;
  
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    text-align: center;
    padding: 10px;
    
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .odd-row {
    background-color:white; /* Light gray */
  }
  
  .even-row {
    background-color:white; /* White */
  }
.header-row{
  background-color:teal;
  color: white;
}

.page-color{
  background-color: #ff5e003f;
}

.back-btn{
  margin-top: -5%;

 margin-left: 50%;
}

.card-content {
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: black; 
  height: 40px;
}

.mat-card {
  background-color:burlywood;
  border: 1px solid rosybrown;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

}
.card-bg{
  background-color:white;
}
.logo-container {
  margin-right: 10px; 
}

.logo {
  width: 150px; 
  height: 30px;; 
}
.text-container {
  margin-left:0px;
}



/* for matptogress spinner */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; 
  color: white; 
}

/* :host ::ng-deep .custom-spinner circle{   
  stroke:cadetblue;
} */
:host ::ng-deep .track circle{       
  stroke-opacity: 0.3 !important;
}
.twitter-like{
  .mat-spinner{
      display: inline;
  }
}

